$white: #fff;
$black: #000;

@mixin border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform:    scale($value);
  -ms-transform:     scale($value);
  -o-transform:      scale($value);
  transform:         scale($value);
}

@mixin transition ($transition) {
  -webkit-transition: $transition;  
  -moz-transition:    $transition;
  -ms-transition:     $transition; 
  -o-transition:      $transition;
  transition:         $transition;
}