$white: #fff;
$black: #000;

$break-header-width: 1024px;
$break-header-height: 768px;

@mixin border-box() {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin scale($value) {
  -webkit-transform: scale($value);
  -moz-transform:    scale($value);
  -ms-transform:     scale($value);
  -o-transform:      scale($value);
  transform:         scale($value);
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin:    $value;
  -ms-transform-origin:     $value;
  -o-transform-origin:      $value;
  transform-origin:         $value;
}

@mixin transition ($transition) {
  -webkit-transition: $transition;  
  -moz-transition:    $transition;
  -ms-transition:     $transition; 
  -o-transition:      $transition;
  transition:         $transition;
}