.list {
  position: fixed;
  bottom: 20px;
  list-style: none;

  &.list--member {
    left: 20px;
  }

  &.list--owner {
    right: 20px;
  }

  .list-entry {
    border: 5px solid $white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 0 5px 0px $black;
    @include transition(transform 0.3s ease);

    &:hover {
      @include scale(0.9);
    }

    .list-link {
      display: block;

      .list-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}